{% extends 'base.html.twig' %}

{% block title %}Accès administrateur | {{ parent() }}{% endblock %}

{% block body %}
    <nav>
        <ul>
            <li><a href="{{ path('app_administrateur_utilisateurs') }}">Utilisateurs</a></li>
            <li><a href="{{ path('app_administrateur_articles') }}">Articles</a></li>
            <li><a href="{{ path('app_administrateur_tickets') }}">Tickets</a></li>
        </ul>
    </nav>
{% endblock %}
