@use '../variables';

header {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 25px;

        &.pages {
            gap: 100px;
        }

        .logotype {
            width: fit-content;
        }

        a {
            font-size: 35px;
            color: black;
            text-decoration: none;

            img {
                width: 75px;
                margin: 10px 0;
            }
        }
    }
}
