@use "variables";

* {
    margin: 0;
    padding: 0;
}

h1, h2, p, a, button, label, input, textarea {
    font-weight: 400;
}

h1, h2 {
    font-family: variables.$font-titre;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p, a, button, label, input, textarea {
    font-family: variables.$font-texte;
    font-size: 16px;
}

.bouton, button {
    border: solid 2px variables.$rouge;
    background-color: white;
    color: variables.$rouge;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 25px;

    &:hover {
        cursor: pointer;
        background-color: variables.$rouge;
        color: white;
    }
}

.banniere {
    height: 650px;
    background-color: variables.$rouge;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    h1 {
        color: white;
    }
}

form {
    width: 50%;
    margin: auto;

    div {
        display: flex;
        flex-direction: column;

        label {
            font-family: "Ubuntu", sans-serif;
            transform: translateY(50%);
            background-color: white;
            width: fit-content;
            margin-left: 10px;
            padding: 0 10px;
        }

        input, textarea {
            border: solid 1px variables.$rouge;
            font-family: "Ubuntu", sans-serif;
            padding: 15px;
            margin-bottom: 25px;
            border-radius: 10px;
        }
    }
}

.liste {
    width: 30%;
    margin: auto;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 25px;

        li {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .conteneur {
                position: relative;
                background-color: variables.$rouge;
                border-radius: 10px;
                padding: 25px;

                p {
                    color: white;
                }

                .statut {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    background-color: white;
                    padding: 5px 10px;
                    border-radius: 25px;

                    &.attente {
                        color: variables.$rouge;
                    }

                    &.traite {
                        color: green;
                    }
                }
            }

            .boutons {
                display: flex;
                justify-content: center;
                gap: 10px;
            }
        }
    }
}
