@use "variables";

* {
    margin: 0;
    padding: 0;
}

h1, h2, p, a, button, label, input, textarea {
    font-weight: 400;
}

h1, h2 {
    font-family: variables.$font-titre;
    width: fit-content;
    margin: auto;

    &::after {
        content: "";
        display: block;
        border-top: solid 2px white;
        width: 25%;
        margin: 10px auto 0;
    }
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    margin-bottom: 50px;

    &::after {
        border-top: solid 2px variables.$rouge;
    }
}

p, a, button, label, input, textarea {
    font-family: variables.$font-texte;
    font-size: 16px;
}

a {
    color: variables.$rouge;
}

.bouton, button {
    width: fit-content;
    border: solid 2px variables.$rouge;
    background-color: white;
    color: variables.$rouge;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 25px;
    display: flex;
    gap: 10px;

    &:hover {
        cursor: pointer;
        background-color: variables.$rouge;
        color: white;
    }

    &::after {
        content: ">>";
    }
}

.formulaire {
    width: 40%;
    margin: auto;

    form {
        display: flex;
        flex-direction: column;
        gap: 25px;

        div {
            display: flex;
            flex-direction: column;

            label {
                font-family: "Ubuntu", sans-serif;
                transform: translateY(50%);
                background-color: white;
                width: fit-content;
                margin-left: 10px;
                padding: 0 10px;
            }

            input, textarea {
                border: solid 2px variables.$rouge;
                font-family: "Ubuntu", sans-serif;
                padding: 15px;
                border-radius: 10px;
            }
        }

        button {
            width: fit-content;
            margin: auto;
        }
    }
}

.banniere {
    height: 500px;
    background-color: variables.$rouge;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    h1 {
        color: white;
    }
}

.background {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.liste {
    width: 30%;
    margin: auto;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 25px;

        li {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .conteneur {
                position: relative;
                background-color: variables.$rouge;
                border-radius: 10px;
                padding: 25px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                p {
                    color: white;
                }

                .bulle {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    background-color: white;
                    padding: 5px 10px;
                    border-radius: 25px;
                    font-size: 14px;
                    color: black;

                    &.attente {
                        color: variables.$rouge;
                    }

                    &.traite {
                        color: green;
                    }
                }
            }

            .boutons {
                display: flex;
                justify-content: center;
                gap: 10px;
            }
        }
    }
}
