@use "variables";

* {
    margin: 0;
    padding: 0;
}

h1, h2, p, a, button, label, input, textarea {
    font-weight: 400;
}

h1, h2 {
    font-family: variables.$font-titre;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p, a, button, label, input, textarea {
    font-family: variables.$font-texte;
    font-size: 16px;
}

.bouton, button {
    border: solid 2px variables.$rouge;
    background-color: white;
    color: variables.$rouge;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 25px;

    &:hover {
        cursor: pointer;
        background-color: variables.$rouge;
        color: white;
    }
}

.banniere {
    height: 650px;
    background-color: variables.$rouge;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    h1 {
        color: white;
    }
}

.formulaire {
    width: 40%;
    margin: auto;
    
    form {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 25px;

        input, textarea {
            border: none;
            background-color: variables.$rouge;
            color: white;
            padding: 10px;
        }

        input {
            height: 40px;
        }

        textarea {
            height: 80px;
        }
    }

    button {
        width: fit-content;
        margin: auto;
    }
}
