* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, p, a, button, label, input, textarea {
  font-weight: 400;
}

h1, h2, h3 {
  font-family: "niagara", serif;
  width: fit-content;
  margin: auto;
}

h1::after, h2::after {
  content: "";
  display: block;
  border-top: solid 2px white;
  width: 25%;
  margin: 10px auto 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
  margin-bottom: 25px;
}
h2::after {
  border-top: solid 2px #dc353d;
}

h3 {
  font-size: 35px;
}

p, a, button, label, input, textarea {
  font-family: "montserrat", sans-serif;
  font-size: 16px;
}

a {
  color: #dc353d;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.bouton, button {
  width: fit-content;
  border: solid 2px #dc353d;
  background-color: white;
  color: #dc353d;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 25px;
  display: flex;
  gap: 10px;
}
.bouton:hover, button:hover {
  cursor: pointer;
  background-color: #dc353d;
  color: white;
}
.bouton::after, button::after {
  content: ">>";
}

.retour {
  display: flex;
  gap: 10px;
  width: 90%;
  margin: 0 auto 25px;
  text-decoration: none;
}
.retour::before {
  content: "<<";
}

.boutons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.banniere {
  background-color: #dc353d;
  margin-bottom: 100px;
}
.banniere h1 {
  color: white;
  padding: 225px 0;
}

.liste {
  width: 30%;
  margin: auto;
}
.liste ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.liste ul li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.liste ul li .conteneur {
  position: relative;
  background-color: #dc353d;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.liste ul li .conteneur p {
  color: white;
}
.liste ul li .conteneur .bulle {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 14px;
  color: black;
}
.liste ul li .conteneur .bulle.attente {
  color: #dc353d;
}
.liste ul li .conteneur .bulle.traite {
  color: green;
}

.formulaire {
  width: 40%;
  margin: auto;
}
.formulaire form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.formulaire form div {
  display: flex;
  flex-direction: column;
}
.formulaire form div label {
  font-family: "Ubuntu", sans-serif;
  transform: translateY(50%);
  background-color: white;
  width: fit-content;
  margin-left: 10px;
  padding: 0 10px;
}
.formulaire form div input, .formulaire form div textarea, .formulaire form div select {
  border: solid 2px #dc353d;
  font-family: "Ubuntu", sans-serif;
  padding: 15px;
  border-radius: 10px;
}
.formulaire form button {
  width: fit-content;
  margin: auto;
}

header {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
}
header ul.pages {
  gap: 100px;
}
header ul .logotype {
  width: fit-content;
}
header ul a {
  font-family: "niagara", serif;
  font-size: 35px;
  color: black;
  text-decoration: none;
}
header ul a img {
  width: 75px;
  margin: 10px 0;
}

footer {
  margin-top: 100px;
  background-color: #dc353d;
  padding: 75px 50px;
  display: flex;
  align-items: center;
  gap: 225px;
}
footer img {
  width: 7.5%;
}
footer .conteneur {
  list-style: none;
}
footer .conteneur li {
  text-align: center;
}
footer .conteneur li a {
  font-family: "niagara", serif;
  font-size: 30px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.accueil {
  overflow: hidden;
}
.accueil .banniere {
  position: relative;
}
.accueil .banniere::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.accueil .banniere video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.accueil .banniere h1 {
  position: relative;
  z-index: 1;
}
.accueil .artistes {
  width: 90%;
  margin: 0 auto 100px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.accueil .artistes .artiste {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 27.5%;
}
.accueil .artistes .artiste.gros {
  width: 30%;
}
.accueil .artistes .artiste.gros div {
  height: 450px;
}
.accueil .artistes .artiste div {
  height: 350px;
  width: 100%;
}
.accueil .artistes .artiste div img {
  object-fit: cover;
}
.accueil .rouge {
  position: relative;
  background-color: #dc353d;
  width: 101vw;
  left: 50%;
  transform: translateX(-50%) rotate(-2.5deg);
  padding: 150px 0;
  display: flex;
  margin-bottom: 100px;
}
.accueil .rouge .trait {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%) rotate(15deg);
  height: 120%;
  width: 5px;
  background-color: white;
}
.accueil .rouge a {
  width: 50%;
  transform: rotate(2.5deg);
}
.accueil .rouge a h2 {
  color: white;
  margin-bottom: 0;
}
.accueil .rouge a h2::after {
  border-color: white;
}
.accueil .presentation {
  width: 50%;
  margin: auto;
}
.accueil .presentation p {
  text-align: center;
}
.accueil .presentation .bouton {
  margin: 25px auto 0;
}

.boutique .image {
  background-color: #f0f0f0;
  padding: 25px;
}
.boutique .contenu {
  display: flex;
  justify-content: space-between;
}
.boutique .conteneur {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.boutique .conteneur .filtres {
  height: fit-content;
  width: 20%;
  background-color: #f0f0f0;
}
.boutique .conteneur .filtres .sous-conteneur {
  width: fit-content;
  margin: 50px auto;
}
.boutique .conteneur .filtres .sous-conteneur p, .boutique .conteneur .filtres .sous-conteneur a {
  display: block;
}
.boutique .conteneur .filtres .sous-conteneur p {
  margin-bottom: 25px;
}
.boutique .conteneur .filtres .sous-conteneur a {
  margin-bottom: 10px;
}
.boutique .conteneur .filtres .sous-conteneur a:last-of-type {
  margin-bottom: 0;
}
.boutique .conteneur .filtres .sous-conteneur a.actif {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: -25px;
}
.boutique .conteneur .filtres .sous-conteneur a.actif::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../images/logotype.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.boutique .conteneur .articles {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
}
.boutique .conteneur .articles .article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
  text-decoration: none;
}
.boutique .conteneur .articles .article .image {
  height: 200px;
}
.boutique.ficheproduit {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 25px;
}
.boutique.ficheproduit h1::after {
  border-color: #dc353d;
}
.boutique.ficheproduit .image {
  height: 250px;
  width: 50%;
}
.boutique.ficheproduit .contenu {
  width: 50%;
  flex-direction: column;
}
.boutique.ficheproduit .contenu h1 {
  margin: 0;
}

.support .formulaire {
  margin-bottom: 50px;
}
.support .formulaire p {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  margin-top: 25px;
}

.partenaires .slider {
  width: 90%;
  margin: 0 auto 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partenaires .slider img {
  height: 250px;
  width: 20%;
}
.partenaires .flex {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partenaires .flex img {
  height: 500px;
  width: 45%;
  object-fit: cover;
}
.partenaires .flex div {
  width: 55%;
}
.partenaires .flex div p {
  text-align: center;
}
.partenaires .flex div .bouton {
  margin: 25px auto 0;
}

.compte p {
  text-align: center;
  margin-top: 50px;
}

.panier {
  width: 75%;
  margin: auto;
}
.panier h1::after {
  border-color: #dc353d;
}
.panier .conteneur {
  display: flex;
  justify-content: space-between;
}
.panier .conteneur .articles {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  list-style: none;
}
.panier .conteneur .articles .article {
  display: flex;
  gap: 25px;
}
.panier .conteneur .articles .article .image {
  height: 200px;
  width: 25%;
  background-color: #f0f0f0;
  padding: 25px;
}
.panier .conteneur .articles .article .contenu {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.panier .conteneur .total {
  height: fit-content;
  width: 25%;
  background-color: #f0f0f0;
}
.panier .conteneur .total p {
  text-align: center;
  margin: 25px 0;
}
.panier .conteneur .centre {
  width: 100%;
  text-align: center;
  padding: 25vh 0;
}

.accesadministrateur .liste {
  width: 50%;
}
.accesadministrateur .liste .flex {
  display: flex;
  gap: 10px;
}
.accesadministrateur .liste .flex .image {
  width: 20%;
  background-color: #f0f0f0;
  padding: 25px;
  border-radius: 10px;
}
.accesadministrateur .liste .flex .conteneur {
  width: 75%;
}
.accesadministrateur .espace {
  margin-bottom: 25px;
}
.accesadministrateur .ajout {
  margin: 0 auto 25px;
}

/*# sourceMappingURL=app.css.map */
