@use 'global.scss';
@use 'navigation/header.scss';
@use 'navigation/footer.scss';
@use 'pages/accueil.scss';
@use 'pages/grand-repas.scss';
@use 'pages/informations-pratiques.scss';
@use 'pages/boutique.scss';
@use 'pages/support.scss';
@use 'pages/qui-sommes-nous.scss';
@use 'pages/partenaires.scss';
@use 'pages/pages-legales.scss';
@use 'pages/compte.scss';
@use 'pages/panier.scss';
@use 'pages/accesadministrateur.scss';
