@use "../variables";

.accesadministrateur {
    .liste {
        width: 50%;

        .flex {
            display: flex;
            gap: 10px;

            .image {
                width: 20%;
                background-color: variables.$gris;
                padding: 25px;
                border-radius: 10px;
            }

            .conteneur {
                width: 75%;
            }
        }
    }

    .espace {
        margin-bottom: 25px;
    }

    .ajout {
        margin: 0 auto 25px;
    }
}
