.accesadministrateur {
    .ajout {
        margin: 0 auto 25px;
    }

    .liste {
        width: 50%;

        .flex {
            display: flex;
            gap: 10px;

            .image {
                width: 35%;
                background-color: #f0f0f0;
                padding: 25px;
                border-radius: 10px;

                .background {
                    height: 100%;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }

            .contenu {
                width: 65%;
            }
        }
    }
}
