@use "../variables";

.accueil {
    overflow: hidden;

    .banniere {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .25);
            z-index: 1;
        }

        video {
            position: absolute;
            object-fit: cover;
        }

        h1 {
            position: relative;
            z-index: 1;
        }
    }

    .width.flex {
        gap: 25px;
        margin-bottom: 100px;

        .gap {
            align-items: end;
        
            div {
                width: 30%;

                img {
                    height: 350px;
                    object-fit: cover;
                    margin-bottom: 25px;
                }

                &.gros {
                    width: 40%;

                    img {
                        height: 450px;
                    }
                }
            }
        }
    }

    .rouge {
        position: relative;
        background-color: variables.$rouge;
        width: 101vw;
        left: 50%;
        transform: translateX(-50%) rotate(-2.5deg);
        padding: 150px 0;
        display: flex;
        margin-bottom: 100px;

        .trait {
            position: absolute;
            top: -10%;
            left: 50%;
            transform: translateX(-50%) rotate(15deg);
            height: 120%;
            width: 5px;
            background-color: white;
        }

        a {
            width: 50%;
            transform: rotate(2.5deg);

            h2 {
                color: white;
                margin-bottom: 0;

                &::after {
                    border-color: white;
                }
            }
        }
    }

    .width:last-of-type {
        width: 50%;

        p {
            text-align: center;
        }

        .bouton {
            margin: 25px auto 0;
        }
    }
}
