@use '../variables';

.administrateur {
    width: 25%;
    margin: auto;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 25px;

        li {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .conteneur {
                position: relative;
                background-color: variables.$rouge;
                border-radius: 10px;
                padding: 25px;

                p {
                    font-family: variables.$font;
                    font-size: 25px;
                    color: white;
                }

                .statut {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    padding: 5px 10px;
                    border-radius: 25px;
                    background-color: white;

                    &.attente {
                        color: variables.$rouge;
                    }

                    &.traite {
                        color: green;
                    }
                }
            }

            .boutons {
                display: flex;
                justify-content: center;
                gap: 10px;
            }
        }
    }
}
