@use "../variables";

.boutique {
    .image {
        background-color: #f0f0f0;
        padding: 25px;
    }

    .contenu {
        display: flex;
        justify-content: space-between;
    }

    .articles {
        width: 90%;
        margin: auto;
        list-style: none;

        .article {
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: black;
            text-decoration: none;

            .image {
                height: 200px;
            }
        }
    }

    &.ficheproduit {
        width: 90%;
        margin: auto;
        display: flex;
        gap: 25px;

        .image {
            height: 250px;
            width: 50%;
        }

        .contenu {
            width: 50%;
            flex-direction: column;

            h1 {
                margin: 0;
            }
        }
    }
}
