@use "../variables";

.boutique {
    .image {
        background-color: variables.$gris;
        padding: 25px;
    }

    .contenu {
        display: flex;
        justify-content: space-between;
    }

    .conteneur {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .filtres {
            height: fit-content;
            width: 25%;
            background-color: variables.$gris;

            .sous-conteneur {
                width: fit-content;
                margin: 50px auto;

                p, a {
                display: block;
                }

                p {
                    margin-bottom: 25px;
                }

                a {
                    margin-bottom: 10px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    &.actif {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-left: -25px;
                        
                        &::before {
                            content: "";
                            width: 15px;
                            height: 15px;
                            background-image: url('../images/logotype.png');
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                        }

                    }
                }
            }
        }

        .articles {
            width: 70%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 25px;
            list-style: none;

            .article {
                display: flex;
                flex-direction: column;
                gap: 10px;
                color: black;
                text-decoration: none;

                .image {
                    height: 200px;
                }
            }
        }
    }

    &.ficheproduit {
        width: 90%;
        margin: auto;
        display: flex;
        gap: 25px;

        h1::after {
            border-color: variables.$rouge;
        }

        .image {
            height: 250px;
            width: 50%;
        }

        .contenu {
            width: 50%;
            flex-direction: column;

            h1 {
                margin: 0;
            }
        }
    }
}
