@use "../variables";

.boutique {
    .image {
        background-color: variables.$gris;
        padding: 25px;
    }

    .width.flex {
        .filtres {
            height: fit-content;
            width: 20%;
            background-color: variables.$gris;

            .sous-conteneur {
                width: fit-content;
                margin: 50px auto;

                p, a {
                    display: block;
                }

                p {
                    margin-bottom: 25px;
                }

                a {
                    margin-bottom: 10px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    &.gap {
                        display: flex;
                        margin-left: -25px;
                        
                        &::before {
                            content: "";
                            width: 15px;
                            height: 15px;
                            background-image: url('../images/logotype.png');
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                        }

                    }
                }
            }
        }

        .articles {
            width: 75%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 25px;
            list-style: none;

            .gap {
                flex-direction: column;
                color: black;
                text-decoration: none;

                .image {
                    height: 200px;
                }
            }
        }
    }

    .fiche-produit.gap {
        gap: 25px;

        h1::after {
            border-color: variables.$rouge;
        }

        .image {
            height: 250px;
            width: 50%;
        }

        .flex {
            width: 50%;
            align-items: start;
            flex-direction: column;

            h1 {
                margin: 0;
            }

            .taille {
                display: flex;
                justify-content: center;
                align-items: center;

                input[type="radio"] {
                    appearance: none;
                    width: 40px;
                    height: 40px;
                    border: 2px solid variables.$rouge;
                    border-radius: 25px;
                    
                    &:hover {
                        cursor: pointer;
                    }

                    &:checked {
                        background: variables.$rouge;

                        + p {
                            color: white;
                        }
                    }
                }

                p {
                    position: absolute;
                    color: variables.$rouge;
                    pointer-events: none;
                }
            }
        }
    }
}
