.grand-repas {
    .conteneur {
        width: fit-content;
        margin: 0 auto 25px;
    }

    .width.flex {
        width: 75%;

        img {
            width: 40%;
        }

        .contenu {
            width: 60%;

            div {
                width: fit-content;
                margin: auto;
            }
        }
    }

    a {
        margin: 25px auto 0;
    }
}
