.informations-pratiques {
    .flex {
        margin-bottom: 100px;

        iframe {
            width: 75%;
            height: 500px;
            border: none;
        }

        .contenu {
            width: 25%;

            p {
                text-align: center;
            }
        }
    }

    ul {
        width: fit-content;
    }
}
