@use "../variables";

.panier {
    width: 75%;

    h1::after {
        border-color: variables.$rouge;
    }
    
    ul.gap {
        width: 70%;
        flex-direction: column;
        gap: 50px;
        list-style: none;

        .gap {
            gap: 25px;

            .image {
                height: 200px;
                width: 25%;
                background-color: variables.$gris;
                padding: 25px;
            }

            .flex {
                width: 75%;
                align-items: start;
                flex-direction: column;
            }
        }
    }

    .total {
        height: fit-content;
        width: 25%;
        background-color: variables.$gris;
        
        p {
            text-align: center;
            margin: 25px 0;
        }
    }

    .centre {
        width: 100%;
        text-align: center;
        padding: 25vh 0;
    }
}
