.partenaires {
    .slider {
        margin-bottom: 100px;

        img {
            height: 250px;
            width: 20%;
        }
    }

    .conteneur {
        img {
            height: 500px;
            width: 45%;
            object-fit: cover;
        }

        div {
            width: 55%;

            p {
                text-align: center;

                &:first-of-type {
                    margin-bottom: 25px;
                }
            }

            .bouton {
                margin: 25px auto 0;
            }
        }
    }
}
