.qui-sommes-nous {
    .width.flex {
        margin-bottom: 100px;

        div, img {
            width: 50%;
        }

        &:last-of-type {
            img {
                height: 500px;
                width: 40%;
                object-fit: cover;
            }

            div {
                width: 60%;

                p {
                    text-align: center;
                }

                a {
                    margin: 25px auto 0;
                }
            }
        }

        p {
            width: 90%;
            margin: 0 auto 25px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
