@use "../variables";

.support {
    .formulaire {
        margin-bottom: 100px;

        p {
            font-size: 14px;
            font-style: italic;
            text-align: center;
            margin-top: 25px;
        }
    }
}
