{% extends 'base.html.twig' %}

{% block title %}Grand Repas | {{ parent() }}{% endblock %}

{% block body %}
    <div class="grand-repas">
        <div class="banniere">
            <h1>GRAND REPAS</h1>
        </div>

        <div class="conteneur">
            <h2>Qu'est-ce que le Grand Repas ?</h2>

            <p>Le Grand Repas de La Grande Fête est un repas champêtre organisé par l'association dans le but d'inaugurer le festival.</p>
            <p>Vous y retrouverez :</p>

            <ul>
                <li>Un menu à 18€</li>
                <li>Un moment festif et familial</li>
            </ul>
        </div>

        <div class="flex">
            <img src="{{ asset('images/grand-repas.jpg') }}" alt="Grand Repas">

            <div class="contenu">
                <div>
                    <p>Au menu :</p>
                    
                    <ul>
                        <li>Charcuterie, magret de canard.</li>
                        <li>Haricots verts, champignons de Paris.</li>
                        <li>Pomme dauphines.</li>
                        <li>Tarte.</li>
                    </ul>
                </div>
            </div>
        </div>

        <a href="{{ path('app_boutique_article', {'id': 1}) }}" class="bouton">Réserver sa place</a>
    </div>
{% endblock %}
