{% extends 'base.html.twig' %}

{% block title %}Programme | {{ parent() }}{% endblock %}

{% block body %}
    <div class="programme">
        <div class="banniere">
            <h1>PROGRAMME</h1>
        </div>

        <img src="{{ asset('images/programme.png') }}" alt="Programme de La Grande Fête">
    </div>
{% endblock %}
