{% extends 'base.html.twig' %}

{% block title %}Programme | {{ parent() }}{% endblock %}

{% block body %}
    <div class="programme">
        <div class="banniere">
            <h1>PROGRAMME</h1>
        </div>

        <h2>Vendredi 12 septembre</h2>
        <h2>Samedi 13 septembre</h2>
        <h2>Dimanche 14 septembre</h2>
    </div>
{% endblock %}
